/* Journey to the Center of the Earth Practicum */
/* Hi I'm James Clark */

header {
    border: 1px solid #886644;
    border-radius: 10px;
}

h2 {
    text-decoration: underline;
}

:lang(fr) , :lang(is) , :lang(it) {
    font-style: italic;
}

.character {
    font-weight: bold;
}

a {
    color: black
}

body {
    background-image: linear-gradient(#765729, black);
}

main

aside

footer