/* Journey to the Center of the Earth Practicum */
/* Hi I'm James Clark */

/* All code references are listed unless taken from about me and/or had help in class. */

header, nav, aside, footer, main, aside {
    border: 3px solid #886644;
    background-color: rgba(255, 255, 255, .75);
    box-shadow: inset 16px 16px 20px rgba(0, 0, 0, .55);
    margin: 10px 76px 10px 76px;
}
/* Code references from 
https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow 
https://www.w3schools.com/cssref/css3_pr_box-shadow.asp 
https://www.w3schools.com/css/css_margin.asp */

header {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-image: url(../img/cave.jpg);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
    text-shadow: 3px 3px 5px black;
    padding: 20px 0px 20px 0px;
}
/* Code references from 
https://www.w3schools.com/css/css3_borders.asp
https://www.w3schools.com/css/css_font.asp 
https://www.w3schools.com/cssref/css3_pr_text-shadow.asp 
https://www.w3schools.com/css/css_padding.asp */


nav {
    text-align: center;
}

nav li {
    font-size: 130%;
    display: inline-block;
    padding: 20px;
}
/* Code reference from 
https://www.w3schools.com/css/tryit.asp?filename=trycss_inline-block_nav */

h2 {
    text-decoration: underline;
}
/* Code reference from 
https://www.w3schools.com/cssref/pr_text_text-decoration.asp */

:lang(fr) , :lang(is) , :lang(it) , :lang(id) {
    font-style: italic;
}
/* Code reference from 
https://www.w3schools.com/cssref/pr_font_font-style.asp */

.character {
    font-weight: bold;
}
/* Code reference from 
https://www.w3schools.com/cssref/pr_font_weight.asp */

a {
    color: black 
}

a:hover {
    color: #A52A2A;
  }

body {
    background-image: linear-gradient(#765729, black);    
}

main {
    font-size: large;
    /* float: left; 
    width: 50%; */ 
    padding: 35px 34px 36px 34px;
} 
/* Code reference from 
https://www.w3schools.com/css/css_website_layout.asp */

#cover {
    border: 3px solid #886644;
    float: left;
    margin: 5px 28px 5px 0px;
}
/* Code reference from 
https://www.w3schools.com/css/css_float.asp */


/* p::first-line {
    font-size: 30pt;
Code reference from 
https://www.w3schools.com/cssref/tryit.asp?filename=trycss_sel_firstline */


aside {
    /* float:right;
    width: 20%; */
    padding: 35px 34px 35px 34px;
} 

aside div {
    border: 2px solid black;
}

footer {
    padding: 36px 0px 26px 0px;
    text-align: center;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px; 
}

@media screen and (min-width: 786px){
    aside h2 div{
        display: grid;
        grid-template-columns: auto auto auto;
    }
}
/* Code reference from 
https://www.w3schools.com/css/css_grid.asp */

/* @media screen and (min-width: 1024px){
    main{
        display: grid;
        
    }
} */
/* main code got messed up while trying to create desktop layout */